<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="logoutHandler()">
      <ion-icon name="log-out-outline"></ion-icon>Logout
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <!-- <ion-header> -->
  <ion-item>
    <ion-toolbar>
      <ion-buttons>
        <ion-button [routerLink]="['/finance-account']">
          Account
        </ion-button>
        <ion-button [routerLink]="['/finance']">
          Transaction
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-item>
  <ion-row class="ion-margin-top ion-padding-top">
    <ion-col size-md="6">
      <ion-title>Transaction Summary</ion-title>
      <div class="ion-padding">
        <ion-card>
          <ion-card-content>
            <canvas id="myChart"></canvas>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-col>
    <ion-col size-md="6">
      <ion-title>Finance Account</ion-title>
      <ion-row class="finance_account">
        <ion-col size-md="4">
          <ion-card>
            <ion-item class="ion_item">
              <ion-avatar slot="start">
                <img src="/assets/Tutorial.png">
              </ion-avatar>
              <ion-label>
                <h2>Adam aria - Bank</h2>
                <p>Listen, I've had a pretty messed up day...</p>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col size-md="4">
          <ion-card>
            <ion-item>
              <ion-avatar slot="start">
                <img src="/assets/Tutorial.png">
              </ion-avatar>
              <ion-label>
                <h2>Adam aria - Bank</h2>
                <p>Listen, I've had a pretty messed up day...</p>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col size-md="4">
          <ion-card>
            <ion-item>
              <ion-avatar slot="start">
                <img src="/assets/Tutorial.png">
              </ion-avatar>
              <ion-label>
                <h2>Adam aria - Bank</h2>
                <p>Listen, I've had a pretty messed up day...</p>
              </ion-label>
            </ion-item>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>